
body, h1, h2, h3, h4, h5, h6 { font-family: 'Exo', sans-serif !important; }

body { color: #76767b; }

.content-header > h1 {
  font-weight: 700;
  font-size: 18px !important;
	color: @defaultColor !important;
	text-transform: uppercase;
}

.login-page { background-color: @defaultColor; }

.box.box-primary {
  border-top-color: @defaultColor !important;
}

.content-wrapper {
	background-color: #f6f6f6;
}

.rc-select-selection__placeholder { top: -6px !important; }

.page-form { margin-bottom: 20px; }

.panel {
  border-color: #d3d1e4;
  .panel-heading {
    color: #fff;
    background-color: @defaultColor;
    .panel-title {
      line-height: 1;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.form-group > label {
  font-size: 13px;
  margin-bottom: 2px;
}
