
.button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  padding: 6px 20px;
  text-align: center;
  border-radius: 20px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #77777b;
  &:extend(.align-middle);
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  /* --- Cores --- */
  &.yellow {
    color: #5e5a97;
    background-color: #fdd81b;
  }
  &.orange { background-color: #f59e0d; }
  &.green { background-color: #1bae8b; }
  &.pink { background-color: #e7418f; }
  &.purple { background-color: #5e5a97; }

  /* --- Border-radius --- */
  &.br-top-left { border-top-left-radius: 0 !important; }
  &.br-top-right { border-top-right-radius: 0 !important; }
  &.br-bottom-left { border-bottom-left-radius: 0 !important; }
  &.br-bottom-right { border-bottom-right-radius: 0 !important; }
}
