
.inputColor(@color) {
  color: @color;
  &::-moz-placeholder { color: @color; }
  &::-ms-input-placeholder { color: @color; }
  &::-webkit-input-placeholder { color: @color; }
}

.form-control,
div.rc-select-selection {
  width: 100%;
  height: 33px;
  outline: none;
  display: block;
  box-shadow: none;
  padding: 6px 18px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid fade(#000, 50%);
  &.rc-select-selection--single {
    &:extend(div.rc-select-selection);
  }
  .rc-select-selection__placeholder { line-height: 32px; }

  /* --- Border-radius --- */
  &.br-top-left { border-top-left-radius: 0 !important; }
  &.br-top-right { border-top-right-radius: 0 !important; }
  &.br-bottom-left { border-bottom-left-radius: 0 !important; }
  &.br-bottom-right { border-bottom-right-radius: 0 !important; }
}

textarea.form-control {
  min-height: 100px;
}
