
.pagination > li {
  &:extend(.align-middle);
  &.active > a {
    color: #5e5a97 !important;
    background-color: #fdd81b !important;
  }
  > a {
    width: 31px;
    padding: 8px;
    border: none;
    line-height: 1;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff !important;
    border-radius: 50% !important;
    background-color: #5e5a97 !important;
    border-bottom-right-radius: 0 !important;
  }
  + li { margin-left: 5px; }
}
