.table {
    margin-bottom: 0!important;
}

.react-bootstrap-table-page-btns-ul.pagination {
    position: relative;
    display: block;
    float: right;
    margin-top: 0;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 75px;
}

.ui-tooltip {
    display: none!important;
}
 
.content-wrapper .content-header h1.with-button {
    height: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}

.content-wrapper .content-header h1.with-button {
    height: 34px;
    line-height: 34px;
    margin-bottom: 10px;
}

.content-header > h1 {
    margin: 0;
    font-size: 20px;
    color: #316497;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.content-wrapper .content {
    padding-top: 0;
}

form span.info {
    border: none;
    font-weight: bold;
    color: #700;
}

form span.info:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F06A';
    margin-right: 5px;
}

.rc-select-selection.rc-select-selection--single {
    height: 100%;
    border-radius: 0;
}
  
#state {
    width: 200%;
    float: left;
}
  
#map {
    height: 250px;
}